<div class="container bg-light mx-auto" style="box-shadow: -5px -5px 8px #ccc; min-width: 300px; max-width: 400px; border-radius: 5px">
  <h1>Report problems</h1>
	<form action="/receive-problem" method="post">
		<div class="mb-3">

			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Describe a problem or suggestion</label>
				<textarea class="form-control" name="problem"></textarea>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>